<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel app</title>

  <body>
    <div id="app">
      <img id="travelImg" />
      <div class="headline">Travel App</div>
      <div class="destination">
        <label for="destination">Destination</label>
        <input  type="text" id="destination" placeholder="City, Country" required />
      </div>
      <div class="chooseDate">
        <label for="flatpickr">Pick a date for your travel:</label>
        <input id="flatpickr" placeholder="dd/mm/yyyy"  required/>
      </div>
     
      <div class="results">
        <div class="title">Weather-Report</div>
        <div id="reportType"></div>
        <div id="entryHolder">
          <div id="resultDestination"></div>
          <div id="resultDate"></div>
          <div id="daysLeft"></div>
          <div id="resultTemp"></div>
          <div id="resultWind"></div>
          <div id="resultSnow"></div>
        </div>
      </div>
    </div>
   
   <!-- service worker test:

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script>     

-->

  </body>
</html>
